.ex1{
    border: 1px solid black;
    display: inline-grid;
    grid-template-columns: auto auto ;
    text-align: center;
    background-color: lightgray;
    padding: 4px;
    gap: 4px;
}
.ex1 * {
    background-color: white;
    border: 1px solid black;
   
}
.ex1 header, .ex1 nav, .ex1  footer{
    grid-column:1/3 ;
    padding: 10px ;
}
.ex1 .aside{
    grid-area: 3/2/5/3;
    padding: 50px 20px;
}
.ex1 .section, 
.ex1 .article {
   padding: 20px 20px;
}
.ex2{
    display: inline-grid;
    grid-template-columns: auto auto ;
    text-align: center;
    
}
.ex2 *{
    border: 1px solid black;
    padding: 20px;
}
.ex2 header, .ex2 nav, .ex2 footer {
    grid-column:1/3 ; 
  
}
.ex2 .aside{
  grid-area: 3/1/4/2;
  padding: 40px 8px;
}
.ex2 section{
  padding: 40px ;
}

.ex3{
    display: inline-grid;
     grid-template-columns: 1fr 3fr ;
     grid-template-areas:"header header"
    "nav nav"
    "main aside"
    "main section"
    "div div"
    "footer footer"
     ;
     gap: 10px;
     padding: 20px;
    
}
.ex3 *{
    background-color: lightgrey;
    text-align: center;
    padding: 20px;

}
.ex3 header{ grid-area: header;}
.ex3 nav{ grid-area: nav;}
.ex3 main{grid-area: main; padding: 100px 80px;}
.ex3 aside{grid-area: aside;}
.ex3 section{grid-area: section;}
.ex3 div{grid-area: div;}
.ex3 footer{grid-area: footer;}

.ex4 *{
    background-color: lightblue;
    padding: 20px;
    border: none;

}
.ex4{
    display: inline-grid;
     grid-template-columns: 1fr 3fr ;
     grid-template-areas:
     "header header header "
   "menu main right "
    "menu footer footer ";
    gap: 5px;
    background-color:  rgb(43, 120, 168);
    padding: 5px;
    
}
.ex4 .header{ grid-area: header;}
.ex4 .menu{ grid-area:menu;}
.ex4 .main{grid-area: main;}
.ex4 .right{grid-area: right;}
.ex4 .footer{grid-area: footer;}

.ex4 button:hover{
 opacity: 0.5;
background-color: grey;
}
.ex5{
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto auto auto auto auto;  
     display:inline-grid;
     width: 60vw;
    grid-template-areas:
    "header ."
  "nav nav"
   "section section"
   "main  aside "
   "main aside"
   "footer footer";
   gap: 10px;
   background-color:  rgb(201, 197, 197);
   padding: 20px 20px 0px 20px;
   margin: 0;
}
.ex5 *{
    text-align: center;
    color: white;
    

}
.ex5 .header{ 
    grid-area: header;
    background-color: rgb(48, 46, 46);
    padding: 10px;
    margin: 0;
}
.ex5 .nav{
    grid-area: nav;
    background-color: rgb(117, 113, 113);
    margin-top: -10px;
    
}
.ex5 .section{
    grid-area: section;
    background-color: rgb(117, 113, 113);
    padding: 5px 20px 20px 20px;
}
.ex5 .main{
    grid-area: main;
    background-color:rgb(48, 46, 46);
    padding: 40px;

}
.ex5 .aside{
    grid-area: aside;
    background-color: rgb(122, 115, 115);
    padding: 40px;
}
.ex5 .footer{
    grid-area: footer;
    background-color: rgb(117, 113, 113);
    padding: 25px;
}
@media(max-width: 800px){
    .ex5{
        grid-template-areas:
        "header"
      "nav "
       "section "
       "main   "
       " aside"
       "footer ";
       grid-template-columns: 1fr ;

    }
} 
.ex6{
    grid-template-columns: 1fr 2fr; 
    grid-template-rows: auto 300px auto ;  
     display:inline-grid;
     width: 60vw;
    grid-template-areas:
    "header header"
  "nav section"
   "footer footer";
   margin: 0;
}  
.ex6 *{
    text-align: center;
    color: white;
}
.ex6 header{ 
    grid-area: header;
    background-color: rgb(255, 184, 51);
    padding: 0px 20px 20px;
   
}
.ex6 nav{ 
    grid-area: nav;
    background-color: rgb(97, 31, 251);
  }
.ex6 section{ 
    grid-area: section;
    background-color: green;
    
    
   
}
.ex6 footer{ 
    grid-area: footer;
    background-color:rgb(185, 27, 27);
   
   
}
.ex7{
    display: flexbox;
    border: 3px solid rgb(68, 5, 68);
    text-align: center;
  
}

.ex7 header{
    background-color: rgb(240, 200, 238);
    color: black;
    padding: 20px;
}
.ex7 nav{
  
    background-color: rgb(147, 78, 207);
    color: white;
    padding: 10px;
}
.ex7 main{
  
    background-color: white;
    color: black;
    padding: 60px;
}
.ex7 footer{

    background-color: rgb(217, 182, 248);
    color: black;
    padding: 20px;
}
.ex8{
    border: 3px solid rgb(68, 5, 68);
    text-align: center;
  
}
.ex8 header{
   background-color: rgb(240, 200, 238);
    color: black;
    padding: 20px;
}
.ex8 nav{
    background-color: rgb(147, 78, 207);
    color: white;
    padding: 10px;
}
.ex8 .asidee{
  display: flex ;
}
.ex8 aside{
    background-color: rgb(222, 166, 219);
    padding: 80px 10px;
    flex: 1;
}
.ex8 main{
    
    background-color: white;
    color: black;
    padding: 60px;
    flex: 3;
}
.ex8 footer{

    background-color: rgb(217, 182, 248);
    color: black;
    padding: 20px;
}
  
  .ex9 {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    gap: 10px;
    background-color: #e0e0e0;
    padding: 10px;
    text-align: center;
  
  }
  .ex9 .main{
    padding: 10px;
  }
  
  .ex9 header,
  .ex9 footer
   {
    grid-column: span 2;
    width: 600px;
    background-color: #a0c4c7;
    padding: 20px;
  }
  
  .intro {
    background-color: #a0c4c7;
    padding: 70px;
    grid-row: span 2
  }
  
  .hero {
    background-color: #a0c4c7;
    padding: 40px;
    grid-row: span 1
  }
  
  .cta {
    background-color: #d3e029;
    padding: 10px;
    text-align: center;
  }
  
  .features {
    grid-column: span 2;
    background-color: #a0c4c7;
    padding: 40px;
  }
  
  .more-copy {
    background-color: #a0c4c7;
    padding: 20px;
  }
  
  .cta2 {
    background-color: #d3e029;
    padding: 20px;
   
  }
  
  .ex9 footer {
    grid-column: span 2;
    background-color: #a0c4c7;
   padding: 20px;
  }

  .ex10 {
    display: grid;
    margin: 0;
    padding: 10px;
    background-color: #f4f4f4;
    grid-template-areas: 
        "header header header"
        "nav nav nav"
        "main main main"
        "aside1 aside2 aside3"
        "footer footer footer";
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    color: black;
    text-align: center;
}

.ex10 *{
  padding: 20px;
}

@keyframes fadeInUp {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
  }

  @keyframes slideInLeft {
      0% { transform: translateX(-100%); opacity: 0; }
      100% { transform: translateX(0); opacity: 1; }
  }
  
  @keyframes zoomIn {
      0% { transform: scale(0.9); opacity: 0; }
      100% { transform: scale(1); opacity: 1; }
  }
  
  .ex10 header { 
    grid-area: header; 
    background-color: rgba(72, 86, 86, 0.279);
     animation: fadeInUp 1s ease-out; 
    }
  .ex10 nav { 
    grid-area: nav; 
    background-color: rgba(72, 86, 86, 0.279); 
    animation: slideInLeft 1.5s ease-in-out;
   }
  .ex10 main {
     grid-area: main;
     background-color: rgba(72, 86, 86, 0.279); 
    animation: zoomIn 2s ease-in-out; 
    }
  .ex10 .aside1  { 
    grid-area: aside1; 
    background-color: rgba(72, 86, 86, 0.279); 
    animation: fadeInUp 2s ease-in-out; 
  }
  .ex10 .aside2  { 
    grid-area: aside2; 
    background-color: rgba(72, 86, 86, 0.279); 
    animation: fadeInUp 2.5s ease-in-out;
     }
  .ex10 .aside3  { 
    grid-area: aside3; 
    background-color: rgba(72, 86, 86, 0.279);
     animation: fadeInUp 3s ease-in-out; 
    }
  .ex10 footer { 
    grid-area: footer;
     
    animation: fadeInUp 3.5s ease-in-out;
     }
  
  .ex10 nav a {
     transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
     }
  .ex10 nav a:hover {
     color: red;
      transform: scale(1.1);
     }

  .ex10 header, 
  .ex10 nav,
  .ex10 main,
  .ex10 footer { 
    border-bottom: 2px solid #ddd;
   }
  .ex10 .aside1:hover, 
  .ex10 .aside2:hover, 
  .ex10 .aside3:hover { 
  background-color: #a84d7f;
   transition: background-color 0.5s ease-in-out; 
  }
  .ex11 {
   display: inline-grid;
   grid-template-columns: auto;
   grid-template-rows: auto auto auto;
   grid-template-areas:
   "header"
   "nav"
   "main"
   "footer";
   gap: 10px;
   padding: 10px;
   background-color: lightgray;
   padding-top: 0px;
  }
  .ex11 header{
    grid-area: header;
    background-color: beige;
    text-align: center;
  }

  .ex11 nav{
    grid-area: nav;
    margin-top: -10px;
    background-color: black;
    padding: 5px;
   
  }
  .ex11 main{
    grid-area: main;
    display: flex;
    gap: 10px;
  }
  .ex11 footer{
    grid-area: footer;
    background-color: beige;
    text-align: center;
   
  }
  .ex11 a{
    text-decoration: none;
    color: white;
    margin: 0px 10px;
  }
  .ex11 main div div{
   background-color: #d3e029;
   padding: 25px;
  }
  .ex11 section, .ex11 aside{
    background-color: beige;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .ex11 img {
    height: 200px;
  }


  .ex12{
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto auto auto auto auto;  
     display:inline-grid;
     width: 60vw;
    grid-template-areas:
    "header header"
  "nav nav"
   "section section"
   "main  aside "
   "main aside"
   "footer footer";
   gap: 5px;
   padding: 20px 20px 0px 20px;
}
.ex12 *{
    text-align: center;
    color: white;
    

}
.ex12 .header{ 
    grid-area: header;
    background-color:black;
    padding: 10px;
    margin: 0;
}
.ex12 .nav{
    grid-area: nav;
    background-color: rgb(117, 113, 113);
    margin-top: -10px;
    
}
.ex12 .main1{
  display: flex;
  margin: 5px 30vh 5px 30vh;
  height: 250px;
  width: 400px;
}
.ex12 .main{
    grid-area: main;
    background-color:rgb(192, 185, 185);
   padding: 50px;
   flex: 3;
   margin-right: 5px;
  
  
}
.ex12 .aside{
    grid-area: aside;
    background-color: rgb(95, 91, 91);
    padding: 50px;
    flex: 1;
}
.ex12 .footer{
    grid-area: footer;
    background-color: rgb(117, 113, 113);
    padding: 25px;
}
.ex13 *{
  text-align: center;
  color: white;
  margin-bottom: 2vh;
}

.ex13 header {
  background-color: rgb(30, 27, 27);
  padding: 50px;
 
}
.ex13 nav {
  background-color: gray;
  padding: 6vh;
}
.ex13 .main{
  background-color:rgb(169, 166, 166) ;
 
}

.ex13 section{
  background-color: rgb(69, 66, 66);
  padding: 50px;
  margin: 0 5px 0 5px;

}

.ex13 .box1 ,
.ex13 .box2 ,
.ex13 .box3 
 {
  display: inline-block;
  background-color: white;
  margin: 10px;
  width: 200px;
  height: 150px;
  

}
.ex13 footer{
  background-color:rgb(69, 66, 66);
  padding: 2vh;

}
 








