
h1,h2{
  color: black;
}
.ex1div1 header,
section {
  padding-left: 150px;
}
.ex1div1 nav {
  background-color: black;
}
.ex1div1 a {
  list-style-type: none;
  text-decoration: none;
  color: white;
}
.ex1div1 img {
  height: 300px;
  width: 450px;
}
.ex1div p {
  font-size: 16px;
}
.ex2div1,
.ex2div2 {
  text-align: center;
}
.ex2div1 img {
  height: 200px;
  width: 300px;
  display: inline-block;
}
.regform1 {
  text-align: center;
}
.ex4div1 {
  text-align: center;
}
.ex4img2 {
  padding-left: 250px;
}
.ex5div1 header {
  background-color: lightgrey;
  padding: 2px 20px;
}
.ex5div1 nav{
  background-color: black;
  padding-top: 5px;
}
.ex5div1 nav a {
  color: white;
  border-right: 1px solid white;
  padding: 5px 10px;
  list-style-type: none;
  text-decoration: none;
}
.ex5wrap{
  display: flex;
}
.ex5sidebar{
  flex: 0.5;
}
.maincontents .ex6div1 {
  display: flex;
}
section {
  flex: 3;
  padding: 20px;
}
aside {
  flex: 1;
  padding: 20px;
}

.bloghead {
  display: flex;
}

.bloghead header {
  flex: 3;
  background-color: bisque;
  margin: 0;
  padding: 0px 40px;
  font-family: sans-serif;
}
.bloghead aside {
  flex: 1;
  background-color: bisque;
  padding: 20px 0px;
}
.container {
  display: flex;
}
.container .contents {
  flex: 3.5;
}
.sidebar {
  background-color: goldenrod;
  flex: 0.5;
  height: 60px;
  border-radius: 5px;
  justify-content: space-between;
 
}
.sidebar p {
  background-color: red;
  margin: -10px -10px 10px;
  border-radius: 5px;
  text-align: center;
}
.sidebar ul {
  padding: 0px;
  text-align: center;
  list-style-type: none;
}
.sidebar ul li a {
  color: black;
  text-align: center;
}
.ex7profpg{
  background-color: rgb(80, 78, 78);
  border: 3px solid black;
  font-family: sans-serif;
  padding-left: 20px;
}
.ex7profpg h1,
.ex7profpg h2 {
  color: rgb(137, 162, 210);
}
.ex7profpg img{
  height: 250px;
  width: 350px;
}
.ex7profpg p, .ex7profpg img{ 
  display: inline;
}
.ex7profpg p,
.ex7profpg ul, .ex7profpg ol {
  color: white;
}
.ex7profpg span{
  color: yellow;
}
.ex8div1 table,th{
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
.ex8div1 td{
  text-align: left;
  border: 1px solid black;
  border-collapse: collapse;
}
.ex8div1 h2{
  color:rgb(18, 70, 165) ;
  background-color: rgb(161, 188, 236);
}
.ex8div1 {
  display: flex;
  justify-content: space-between; 
}
.ex8div1 section{
  flex: 3;
}
.ex8aside {
  flex: 1; 
  text-align: right; 
}



