
    body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

button {
  background-color: rgb(11, 149, 61);
  color: black;
  cursor: pointer;
  width:150px;
  margin-left: 200px;
}

/* button:hover {
  background-color: rgb(0, 255, 149);
} */

.error {
  color: red;
  font-size: 0.9em;
}
